<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 开启下划线映射成驼峰支持，user_name映射为userName -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 开启延迟加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 是否查询所有数据 -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 是否开启二级缓存 -->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <plugins>
        <!-- 分页插件 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 指定当前数据库类型 -->
            <property name="helperDialect" value="mysql"/>
            <!-- 合理调整查询页码 -->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

</configuration>
